
.chat-main
  .chat-main__group-info
    .group__name
      = @group.name
      .group__id
        .group__member
          Member :
          - @group.users.each do |user|
            = user.name
    = link_to "edit", class: "group__info" do
      Edit
  .chat-main__message-list
    .message
    = render @messages 
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .messages
        = f.text_field :content, class: "input-box__text", placeholder: 'type a message', type:"text"
        .form__mask
          = f.label :image, class: "form__mask__image" do
            = icon( "far fa-image", class: "icon")
            = f.file_field :image, class: "hidden"
      = f.submit "Send", class: "submit-btn"
